
@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.ttf') format('truetype');
}

body {
    font-family: Yekan;
}

.nav.nav-tabs > li.active > a {
    background: #F1F1F1;
}

.k-dropzone {
    direction: ltr !important;
}

.k-file-name {
    float: left !important;
}

.k-grid-header {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.k-link {
    text-align: right;
}

.rtl .inside-tooltip i {
    right: 0px !important;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.clickable {
    cursor: pointer;
}

.panel-heading span.clickable {
    padding: 10px;
    font-size: 20px;
}

.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover > a span:not(.arrow) {
    text-align: right;
}

.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar li.nav-parent.nav-hover ul > li > ul {
    background: #202226;
    display: block;
    /* left: 45px;*/
    overflow: visible;
    margin-right: -45px;
    right: 45px;
    text-align: right;
    margin: 0;
    min-width: 150px;
    /*   padding-bottom: 10px;*/
    position: relative;
    top: 0px;
    z-index: 100;
    -webkit-border-radius: 0 0 2px 0;
    -moz-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

    .sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar li.nav-parent.nav-hover ul > li > ul > li > a {
        padding-right: 0px;
    }

.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar li.nav-parent.nav-hover ul > li > a {
    padding-right: 20px;
}

.PanelTitleHeader {
    padding: 10px;
}

.rtl .sidebar .sidebar-inner .nav-sidebar .children > li > ul > li > a {
    padding: 7px 70px 7px 20px;
    /*padding-right: 0px !important;*/
    font-size: 14px;
    text-align: right;
}


.rtl .sidebar .sidebar-inner .nav-sidebar .children > li > a {
    font-size: 14px;
}

hr {
    border-top: 1px solid black;
}

.form-control {
    width: auto;
}

/*.sidebar-top.fixed-topbar .topbar {
            left: 0px;
            right: 140px;
        }*/
.row {
    margin-left: 0px;
    margin-right: 0px;
}

.panel-header {
    padding: 10px !important;
}

.col-md-6 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.col-md-4 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.col-md-3 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 435px;
    padding: 10px;
    background-color: white;
    border: 1px groove;
}

    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
        width: 70px;
        height: 25px;
        margin-top: 3px;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 45%;
    top: 30%;
    display: none;
    z-index: 1000;
}

.k-grid-column {
    border-left: 10px solid #828282 !important;
    border-right: 10px solid #828282 !important;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.k-state-selected {
    background-color: green !important;
}

.labelClass {
    width: 100%;
}

input {
    background-color: rgb(238, 255, 204) !important;
}

textarea {
    background-color: rgb(238, 255, 204) !important;
}

.col-md-8 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.row {
    margin-top: 10px;
}

.month-grid-box table tbody tr td span {
    text-align: center !important;
}

.month-grid-box .header .header-row .header-row-cell {
    text-align: center !important;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn {
    text-align: center !important;
}

.k-grid-content .k-auto-scrollable {
    height: auto !important;
    overflow-y: auto !important;
}

.modal-dialog {
    width: 75%;
}
.close{
    float:right;
}
.modal-body{
    width:400px;
    overflow:auto;
}
.k-grid-toolbar:first-child, .k-grouping-header+ .k-grid-toolbar {
    border-width: 0 0 1px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    width: auto;
    background-color: white;
}