<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>گروه نرم افزاری بی همتا</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="assets/img/favicon.png">
    <link href="/Content/Main/style.css" rel="stylesheet">
    <link href="/Content/Main/ui.css" rel="stylesheet">
    <link href="/Content/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
    <link href="~/Content/FontAwesome/fontawesome-pro-5.7.1-web-ulabs/css/all.css" rel="stylesheet" />

</head>
<body class="account rtl" data-page="login">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
        @RenderBody()
        <p class="account-copyright" style="text-align:center;">

            <span><a href="http://www.hoormah.com">تولید نرم افزار</a></span>
            <span>و</span>
            <span><a href="http://www.hoormah.com">طراحی سایت</a></span>
        </p>

    </div>
    <script src="/Content/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="/Content/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Content/plugins/gsap/main-gsap.min.js"></script>
    <script src="/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/plugins/backstretch/backstretch.min.js"></script>
    <script src="/Content/plugins/bootstrap-loading/lada.min.js"></script>
</body>
</html>