
@{
    ViewBag.Title = "عدم دسترسی";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row" style="margin-top:20px;">

    <h1 style="text-align:center;color:red;"><b>
        کاربر گرامی شما مجوز دسترسی به این صفحه را ندارید برای اطلاع بیشتر با بخش پشتیبانی تماس بگیرید  </b></h1>
    <h3 style="text-align:center;color:white;"><a href="/Home">بازگشت به صفحه اصلی</a></h3>
</div>
