<div class="row">
    <div class="row">
        <div class="col-md-2 office appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasStoreRoom" name="HasStoreRoom" value="false" class="otherInfo" /><label style="margin-right:5px;">انباری</label>
        </div>
        <div class="col-md-2 office appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasElevator" name="HasElevator" value="false" class="otherInfo" /><label style="margin-right:5px;">آسانسور</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
                <input type="checkbox" id="HasParking" name="HasParking" value="false" class="otherInfo" /><label style="margin-right:5px;">پارکینگ</label>
            </div>
        <div class="col-md-2 villa" style="margin-right:15px;">
            <input type="checkbox" id="HasRemoteDoor" name="HasRemoteDoor" value="false" class="otherInfo" /><label style="margin-right:5px;">درب ریموت</label>
        </div>
        @*<div class="col-md-2">
                <input type="checkbox" id="HasBasement" name="HasBasement" value="false" class="otherInfo" /><label style="margin-right:5px;">زیرزمین</label>
            </div>*@
        <div class="col-md-2 villa" style="margin-right:15px;">
            <input type="checkbox" id="HasBackyard" name="HasBackyard" value="false" class="otherInfo" /><label style="margin-right:5px;">حیاط خلوت</label>
        </div>
        @*<div class="col-md-2">
                <input type="checkbox" id="HasYard" name="HasYard" value="false" class="otherInfo" /><label style="margin-right:5px;">حیاط </label>
            </div>*@
        <div class="col-md-2 villa" style="margin-right:15px;">
            <input type="checkbox" id="HasVideoDoorPhone" name="HasVideoDoorPhone" value="false" class="otherInfo" /><label style="margin-right:5px;">آیفون تصویری</label>
        </div>
        <div class="col-md-2 office appartment villa" style="margin-right:15px;">
            <input type="checkbox" id="NeedToRebuild" name="NeedToRebuild" value="false" class="otherInfo" /><label style="margin-right:5px;">نیازمند بازسازی</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="IntegratedSalon" name="IntegratedSalon" value="false" class="otherInfo" /><label style="margin-right:5px;">سالن یک تکه</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="SeparateSuite" name="SeparateSuite" value="false" class="otherInfo" /><label style="margin-right:5px;">سوئیت مجزا</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasLaundryRoom" name="HasLaundryRoom" value="false" class="otherInfo" /><label style="margin-right:5px;">لاندری</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="ResidentOwner" name="ResidentOwner" value="false" class="otherInfo" /><label style="margin-right:5px;">مالک ساکن</label>
        </div>
        <div class="col-md-2 appartment villa" style="margin-right:15px;">
            <input type="checkbox" id="IsRealEstate" name="IsRealEstate" value="false" class="otherInfo" /><label style="margin-right:5px;">مستغلات</label>
        </div>
        <div class="col-md-2 appartment villa realEstate" style="margin-right:15px;">
            <input type="checkbox" id="HasPool" name="HasPool" value="false" class="otherInfo" /><label style="margin-right:5px;">استخر</label>
        </div>
        <div class="col-md-2 appartment villa realEstate" style="margin-right:15px;">
            <input type="checkbox" id="HasSauna" name="HasSauna" value="false" class="otherInfo" /><label style="margin-right:5px;">سونا</label>
        </div>
        <div class="col-md-2 appartment villa realEstate" style="margin-right:15px;">
            <input type="checkbox" id="HasJacuzzi" name="HasJacuzzi" value="false" class="otherInfo" /><label style="margin-right:5px;">جکوزی</label>
        </div>
        <div class="col-md-2 appartment realEstate" style="margin-right:15px;">
            <input type="checkbox" id="HasRoofGarden" name="HasRoofGarden" value="false" class="otherInfo" /><label style="margin-right:5px;">روف گاردن</label>
        </div>
        <div class="col-md-2 appartment realEstate" style="margin-right:15px;">
            <input type="checkbox" id="HasConferenceHall" name="HasConferenceHall" value="false" class="otherInfo" /><label style="margin-right:5px;">سالن اجتماعات</label>
        </div>
        <div class="col-md-2 realEstate office appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasLobby" name="HasLobby" value="false" class="otherInfo" /><label style="margin-right:5px;">لابی</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasGym" name="HasGym" value="false" class="otherInfo" /><label style="margin-right:5px;">سالن جیم</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasCinema" name="HasCinema" value="false" class="otherInfo" /><label style="margin-right:5px;">سینما</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasBilliard" name="HasBilliard" value="false" class="otherInfo" /><label style="margin-right:5px;">سالن بیلیارد</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasSquash" name="HasSquash" value="false" class="otherInfo" /><label style="margin-right:5px;">سالن اسکواش</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasRoofPool" name="HasRoofPool" value="false" class="otherInfo" /><label style="margin-right:5px;">استخر روف</label>
        </div>
        <div class="col-md-2 appartment realEstate" style="margin-right:15px;">
            <input type="checkbox" id="HasFurnishedLobby" name="HasFurnishedLobby" value="false" class="otherInfo" /><label style="margin-right:5px;">لابی مبله</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasEntrance" name="HasEntrance" value="false" class="otherInfo" /><label style="margin-right:5px;">ورودی</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasMaidRoom" name="HasMaidRoom" value="false" class="otherInfo" /><label style="margin-right:5px;">میدروم</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasSeparateSitting" name="HasSeparateSitting" value="false" class="otherInfo" /><label style="margin-right:5px;">نشیمن مجزا</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasInteriorPool" name="HasInteriorPool" value="false" class="otherInfo" /><label style="margin-right:5px;">استخر داخلی</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasCookingKitchen" name="HasCookingKitchen" value="false" class="otherInfo" /><label style="margin-right:5px;">مطبخ</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasFurnishKitchen" name="HasFurnishKitchen" value="false" class="otherInfo" /><label style="margin-right:5px;">آشپزخانه فرنیش</label>
        </div>
        <div class="col-md-2 villa" style="margin-right:15px;">
            <input type="checkbox" id="HasGardenPermission" name="HasGardenPermission" value="false" class="otherInfo" /><label style="margin-right:5px;">نامه باغات دارد</label>
        </div>
        <div class="col-md-2 villa" style="margin-right:15px;">
            <input type="checkbox" id="HasRooflessPool" name="HasRooflessPool" value="false" class="otherInfo" /><label style="margin-right:5px;">استخر روباز</label>
        </div>
        <div class="col-md-2 villa" style="margin-right:15px;">
            <input type="checkbox" id="HasBuildingLicense" name="HasBuildingLicense" value="false" class="otherInfo" /><label style="margin-right:5px;">جواز ساخت</label>
        </div>
        <div class="col-md-2 villa" style="margin-right:15px;">
            <input type="checkbox" id="HasPlanCommand" name="HasPlanCommand" value="false" class="otherInfo" /><label style="margin-right:5px;">دستور نقشه</label>
        </div>
        <div class="col-md-2 villa" style="margin-right:15px;">
            <input type="checkbox" id="HasWatchman" name="HasWatchman" value="false" class="otherInfo" /><label style="margin-right:5px;">سرایداری</label>
        </div>
        <div class="col-md-2 commercial" style="margin-right:15px;">
            <input type="checkbox" id="InMall" name="InMall" value="false" class="otherInfo" /><label style="margin-right:5px;">داخل پاساژ</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasPatio" name="HasPatio" value="false" class="otherInfo" /><label style="margin-right:5px;">پاسیو</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasSeparateStaircase" name="HasSeparateStaircase" value="false" class="otherInfo" /><label style="margin-right:5px;">پاگرد مجزا</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasPanoramaView" name="HasPanoramaView" value="false" class="otherInfo" /><label style="margin-right:5px;">دید پانوراما</label>
        </div>
        <div class="col-md-2 office appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasSouthView" name="HasSouthView" value="false" class="otherInfo" /><label style="margin-right:5px;">دیدجنوب</label>
        </div>
        <div class="col-md-2 office appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasNorthView" name="HasNorthView" value="false" class="otherInfo" /><label style="margin-right:5px;">دیدشمال</label>
        </div>
        <div class="col-md-2 appartment" style="margin-right:15px;">
            <input type="checkbox" id="HasWoodyView" name="HasWoodyView" value="false" class="otherInfo" /><label style="margin-right:5px;">دیدمشجر</label>
        </div>
        <div class="col-md-2 villa realEstate" style="margin-right:15px;">
            <input type="checkbox" id="HasResidentialStatus" name="HasResidentialStatus" value="false" class="otherInfo" /><label style="margin-right:5px;">موقعیت مسکونی</label>
        </div>
        <div class="col-md-2 villa" style="margin-right:15px;">
            <input type="checkbox" id="HasGardenDocument" name="HasGardenDocument" value="false" class="otherInfo" /><label style="margin-right:5px;">سند باغ است</label>
        </div>
        <div class="col-md-2 villa realEstate office" style="margin-right:15px;">
            <input type="checkbox" id="HasOfficeDocument" name="HasOfficeDocument" value="false" class="otherInfo" /><label style="margin-right:5px;">موقعیت اداری</label>
        </div>
        <div class="col-md-2 commercial" style="margin-right:15px;">
            <input type="checkbox" id="HasGoodWill" name="HasGoodWill" value="false" class="otherInfo" /><label style="margin-right:5px;">سرقفلی</label>
        </div>
        <div class="col-md-2 commercial" style="margin-right:15px;">
            <input type="checkbox" id="HasOwnership" name="HasOwnership" value="false" class="otherInfo" /><label style="margin-right:5px;">ملکیت</label>
        </div>
        <div class="col-md-2" style="margin-right:15px;">
            <input type="checkbox" id="IsFurnitured" name="IsFurnitured" value="false" class="otherInfo" /><label style="margin-right:5px;">مبله</label>
        </div>
        <div class="col-md-2" style="margin-right:15px;">
            <input type="checkbox" id="ToOutsider" name="ToOutsider" value="false" class="otherInfo" /><label style="margin-right:5px;">بخارجی</label>
        </div>
        <div class="col-md-3 office" style="margin-right:15px;">
            <input type="checkbox" id="BoardMountable" name="BoardMountable" value="false" class="otherInfo" /><label style="margin-right:5px;">قابلیت نصب تابلو</label>
        </div>
    </div>
    <div class="row appartment" style="margin-right:30px; margin-top:0px;">
        <input type="checkbox" id="HasSemiFurnishKitchen" name="HasSemiFurnishKitchen" value="false" class="otherInfo" /><label style="margin-right:5px;">آشپزخانه نیمه فرنیش</label>
    </div>
    <div class="row appartment office" style="margin-right:30px; margin-top:0px;">
        <input type="checkbox" id="HasLobbyMan" name="HasLobbyMan" value="false" class="otherInfo" /><label style="margin-right:5px;">لابی من 24ساعته</label>
    </div>
    <div class="row appartment" style="margin-right:30px; margin-top:0px;">
        <input type="checkbox" id="HasServantRestroom" name="HasServantRestroom" value="false" class="otherInfo" /><label style="margin-right:5px;">سرویس مستخدم</label>
    </div>

</div>
